# Introduction to Python I - Variables
* Based on a lecture series by Rajath Kumart (https://github.com/rajathkumarmp/Python-Lectures)
* Ported to Python3 and extessions added by Janis Keuper
* Copyright: Creative Commons Attribution 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by/3.0/

In [1]:
#check if notebook runs in colab
import sys
IN_COLAB = 'google.colab' in sys.modules
print('running in Colab:',IN_COLAB)
path='..'
if IN_COLAB:
  #in colab, we need to clone the data from the repo
  !git clone https://github.com/keuperj/DataScienceSS20.git
  path='DataScienceSS20'

running in Colab: True
Cloning into 'DataScienceSS20'...
remote: Enumerating objects: 248, done.
remote: Total 248 (delta 0), reused 0 (delta 0), pack-reused 248
Receiving objects: 100% (248/248), 45.43 MiB | 21.43 MiB/s, done.
Resolving deltas: 100% (85/85), done.

## The Zen Of Python

In [0]:
import this

## The Very Basics

### Comments:

In [0]:
# this is a comment

### Spaces
***Python is indent sensitive!!!***

In [7]:

print ("hello")
  print ("this does not work")

IndentationError: ignored

In [8]:
for i in range(5):
    print ("this is a correct indent")

this is a correct indent
this is a correct indent
this is a correct indent
this is a correct indent
this is a correct indent

In [8]:
for i in range(5):
print ("this is NOT a correct indent")

IndentationError: ignored

**NOTE: you should set your editor to convert <tab> into 4 Spaces**
    
Python Coding Conventions: https://www.python.org/dev/peps/pep-0008/

# Variables

A name that is used to denote something or a value is called a variable. **Important:** Python has no strong typing, e.g. variables can change their type within a script. In python, variables can be declared and values can be assigned to it as follows,

In [0]:
x = 2
y = 5
xy = 'Hey'

In [12]:
print (x+y, xy)

7 Hey

Multiple variables can be assigned with the same value.

In [0]:
x = y = 1

In [14]:
print (x,y)

1 1

Weak typing example:

In [15]:
a = 1
a += 1
print (a)
a = "hello"
print (a)

2
hello

In [17]:
a+=1

TypeError: ignored

### Checking variable types:

In [0]:
type(a)

str

### Type casting:

In [0]:
str(1)

'1'

In [0]:
int('34')+5

39

# Operators

## Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [0]:
1+2

3

In [0]:
2-1

1

In [18]:
1*2

2

In [21]:
1/2

0.5

0? This is because both the numerator and denominator are integers but the result is a float value hence an integer value is returned. By changing either the numerator or the denominator to float, correct answer can be obtained.

In [20]:
1/2.0

0.5

In [22]:
15%10

5

Floor division is nothing but converting the result so obtained to the nearest integer.

In [0]:
2.8//2.0

1.0

## Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [0]:
z = 1

In [24]:
z == 1

True

In [25]:
z > 1

False

## Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [0]:
a = 2 #10
b = 3 #11

In [0]:
print (a & b)
print (bin(a&b))

2
0b10

In [26]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [0]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

# Built-in Functions

Python comes loaded with pre-built functions

## Conversion from one system to another

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in **hex( )**, Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function **oct( )**.

In [0]:
hex(170)

'0xaa'

In [0]:
0xAA

170

In [0]:
oct(8)

'0o10'

**int( )** accepts two values when used for conversion, one is the value in a different number system and the other is its base. Note that input number in the different number system should be of string type.

In [0]:
print (int('010',8))
print (int('0xaa',16))
print (int('1010',2))

8
170
10

**int( )** can also be used to get only the integer value of a float number or can be used to convert a number which is of type string to integer format. Similarly, the function **str( )** can be used to convert the integer back to string format

In [0]:
print (int(7.7))
print (int('7'))

7
7

Also note that function **bin( )** is used for binary and **float( )** for decimal/float values. **chr( )** is used for converting ASCII to its alphabet equivalent, **ord( )** is used for the other way round.

In [0]:
chr(98)

'b'

In [0]:
ord('b')

98

##Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [0]:
print (round(5.6231) )
print (round(4.55892, 2))

6
4.56

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [0]:
c =complex('5+2j')
print (abs(c))

5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [0]:
divmod(9,2)

(4, 1)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [0]:
print (isinstance(1, int))
print (isinstance(1.0,int))
print (isinstance(1.0,(int,float)))

True
False
True

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [0]:
print (pow(3,3))
print (pow(3,3,5))

27
2

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [0]:
print (range(3))
print (range(2,9))
print (range(2,27,8))

range(0, 3)
range(2, 9)
range(2, 27, 8)