# Introduction to Python IV - Control Flow
* Based on a lecture series by Rajath Kumart (https://github.com/rajathkumarmp/Python-Lectures)
* Ported to Python3 and extessions added by Janis Keuper
* Copyright: Creative Commons Attribution 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by/3.0/

In [1]:
#check if notebook runs in colab
import sys
IN_COLAB = 'google.colab' in sys.modules
print('running in Colab:',IN_COLAB)
path='..'
if IN_COLAB:
  #in colab, we need to clone the data from the repo
  !git clone https://github.com/keuperj/DataScienceSS20.git
  path='DataScienceSS20'

running in Colab: True
Cloning into 'DataScienceSS20'...
remote: Enumerating objects: 248, done.
remote: Total 248 (delta 0), reused 0 (delta 0), pack-reused 248
Receiving objects: 100% (248/248), 45.43 MiB | 25.26 MiB/s, done.
Resolving deltas: 100% (85/85), done.

# Control Flow Statements

## If

if some_condition:
    
    algorithm

In [2]:
x = 12
if x >10:
    print ("Hello")

Hello

## If-else

if some_condition:
    
    algorithm
    
else:
    
    algorithm

In [3]:
x = 12
if x > 10:
    print ("hello")
else:
    print ("world")

hello

## if-elif

if some_condition:
    
    algorithm

elif some_condition:
    
    algorithm

else:
    
    algorithm

In [4]:
x = 10
y = 12
if x > y:
    print ("x>y")
elif x < y:
    print ("x<y")
else:
    print ("x=y")

x<y

if statement inside a if statement or if-elif or if-else are called as nested if statements.

In [5]:
x = 10
y = 12
if x > y:
    print ("x>y")
elif x < y:
    print ("x<y")
    if x==10:
        print ("x=10")
    else:
        print ("invalid")
else:
    print ("x=y")

x<y
x=10

## Loops

### For

for variable in something:
    
    algorithm

In [6]:
for i in range(5):
    print (i)

0
1
2
3
4

In the above example, i iterates over the 0,1,2,3,4. Every time it takes each value and executes the algorithm inside the loop. It is also possible to iterate over a nested list illustrated below.

In [7]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print (list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

A use case of a nested for loop in this case would be,

In [8]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    for x in list1:
        print (x)

1
2
3
4
5
6
7
8
9

### While

while some_condition:
    
    algorithm

In [9]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

## Break

As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

In [10]:
for i in range(100):
    print (i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

## Continue

This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [11]:
for i in range(10):
    if i>4:
        print ("The end.")
        continue
    elif i<7:
        print (i)

0
1
2
3
4
The end.
The end.
The end.
The end.
The end.

## List Comprehensions

Python makes it simple to generate a required list with a single line of code using list comprehensions. For example If i need to generate multiples of say 27 I write the code using for loop as,

In [12]:
res = []
for i in range(1,11):
    x = 27*i
    res.append(x)
print (res)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Since you are generating another list altogether and that is what is required, List comprehensions is a more efficient way to solve this problem.

In [13]:
[27*x for x in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

That's it!. Only remember to enclose it in square brackets